<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
<%= @firstDay %>
</p>

<table border="1">
	<tr>
		<th>日</th>
		<th>入金</th>
		<th>出金</th>
		<th>残高</th>
	</tr>
	<% currentBalance = @monthlyBalance.balance %>
	<% @dayBalances.each do |dayBalance| %>
	<tr>
		<% currentBalance = dayBalance.balance(currentBalance) %>
		<td><%= dayBalance.day %></td>
		<td><%= dayBalance.in %></td>
		<td><%= dayBalance.out %></td>
		<td><%= currentBalance %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
